:root {
    --color-0:#FFFFFF;  /* white */
    --color-1:#08090A; /* black */
    --color-2:#706C61; /* dark brown */
    --color-2-gradient: rgb(128, 108, 54);  /* light brown */
    --color-3:#F8F4E3; /* linen white */
    --color-4:#0c1653; /* saphire blue */
}