.main-nav {
    background-image: linear-gradient(to right, var(--color-2), var(--color-2-gradient));
}

.main-nav__ul {
    margin: 0;
    padding: 0;
}

.main-nav__ul__left-items {
    display: inline-block;
    padding: 0 1em;
    height: 3em;
}

.main-nav__ul__left-items__li {
    display: inline;
    padding: 0 0.1em;
}

.main-nav__ul__left-items__li__link {
    text-decoration: none;
    color: var(--color-3);
}

.main-nav__ul__left-items__li__link--logo {
    padding-top: 0.15em;
}

.main-nav__ul__right-items {
    float: right;
    padding: 0em 1em;
}

.main-nav__ul__right-items__li {
    display: inline-block;
    padding: 1.1em 0.5em 0;
    height: 1.9em;
}


.main-nav__ul__right-items__li--active {
    background-color: var(--color-3);
}

.main-nav__ul__right-items__li__link {
    text-decoration: none;
    color: var(--color-3);
}

.main-nav__ul__right-items__li__link--active {
    color: var(--color-2);
}