.service-description-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 50px;
}

.service-description-grid__logo {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    max-width: 100%;
    margin: auto;
}

.service-description-grid__title {
    grid-row-start: 1;
    grid-column-start: 2;
    font-family: blenderpro;
    font-size: 3em;
    padding: 0.5em 1.1em;
    color: grey;
    text-align: center;
    margin: auto;
}

.service-description-grid__description {
    grid-row-start: 2;
    grid-column-start: 2;
    font-family: blenderpro;
    padding: 0.5em 3em;
    font-size: 1.1em;
}

.main-buttons-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2em;
}

.main-buttons-grid__button {
    margin: 0em 1em;
    height: 100px;
    font-size: 1.6em;
    border-color: var(--color-1);
}

.main-buttons-grid__button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.faq-grid {
    padding: 2em 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.faq-grid__title {
    text-align: center;
    font-size: 3em;
    color: grey;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
}

.faq-grid__logo {
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    margin: auto;
}

.faq-grid__ul {
    text-align: center;
    list-style: inside;
    grid-column-start: 1;
    grid-row-start: 2;
    margin: auto;
}

.faq-grid__ul__li__question {
    display: inline;
}

.contact__title {
    text-align: center;
    font-size: 3em;
    color: grey;
}

.contact__article__title {
    width: 100%;
    text-align: center;
    font-family: blenderpro;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-1);
    margin-bottom: 20px;
}

.contact__article__social-media {
    text-align: center;
}

.contact__article__social-media__link {
    text-decoration: none;
}

.contact__article__social-media__link__img {
    margin-right: 10px;
}

.contact__article__description {
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-repeat: no-repeat;
    background-size: 120px 120px;
}

.contact__article__description--left {
    background-position: center right;
    padding-right: 140px;
}

.contact__article__description--codrin {
    background-image: url("../img/codrin.png");
}

.contact__article__description--right {
    background-position: center left;
    padding-left: 140px;
}

.contact__article__description--alex {
    background-image: url("../img/alex.png");
}

@media only screen and (max-width: 1200px) {
    .faq-grid {
        grid-template-columns: 1fr;
    }

    .faq-grid__title {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .faq-grid__logo {
        grid-row-start: 2;
        grid-column-start: 1;
        width: 30%;
        height: auto;
        margin-bottom: 3em;
    }

    .faq-grid__ul {
        grid-row-start: 3;
        grid-column-start: 1;
    }
}

@media only screen and (max-width: 1000px) {
    .service-description-grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .service-description-grid__logo {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
    }

    .service-description-grid__title {
        grid-row-start: 1;
        grid-column-start: 2;
    }

    .service-description-grid__description {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media only screen and (max-width: 600px) {
    .main-buttons-grid__button {
        margin: 0.5em;
        font-size: 1.2em;
    }

    .faq-grid__ul {
        padding-right: 40px;
    }

    .contact__article__title {
        width: 80%;
        margin: auto;
    }

    .contact__article__description {
        padding-top: 140px;
        padding-right: 0;
        padding-left: 0;
        background-position: center top;
    }

    .contact__article__description {
        font-size: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .service-description-grid__title {
        font-size: 2em;
    }

    .main-buttons-grid__button {
        font-size: 1em;
    }
}