@font-face {
    font-family: regular-font;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: blenderpro;
    src: url("../fonts/blenderpro/blenderpro-medium-webfont.woff");
}

@font-face {
    font-family: din;
    src: url("../fonts/DIN/DINNextLTW04-Regular.woff");
}

.private-key-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.private-key-modal__content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.private-key-modal__content__close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.private-key-modal__content__close-button:hover,
.private-key-modal__content__close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.private-key-modal__content__form-container {
    text-align: center;
}

.private-key-modal__content__form-container__title {
    font-weight: bold;
}

.private-key-modal__content__form-container__form>input {
    margin-right: 5px;
}

.private-key-modal__contet__form-container__form__rsa-key {
    text-align: center;
    width: 80%;
}

.private-key-modal__content__error-message {
    display: none;
    color: red;
    text-align: center;
}

body {
    margin: 0;
    font-family: regular-font;
}

.header {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.header__main-nav {
    background-image: linear-gradient(to right, #706C61, #806c36);
}

.header__main-nav__ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__main-nav__ul__li__burger-icon {
    display: none;
}

.header__main-nav__ul__left-items {
    display: inline-block;
    padding: 0 1em;
    height: 3em;
    cursor: pointer;
}

.header__main-nav__ul__left-items__li {
    display: inline;
    padding: 0 0.1em;
}

.header__main-nav__ul__left-items__li__link {
    text-decoration: none;
    color: var(--color-3);
}

.header__main-nav__ul__left-items__li__text {
    color: var(--color-3);
    display: inline;
    top: 18px;
}

.header__main-nav__ul__left-items__li__link--logo {
    padding-top: 0.15em;
    display: inline-block;
}

.header__main-nav__ul__right-items {
    float: right;
    padding: 0em 1em;
}

.header__main-nav__ul__right-items__li {
    display: inline-block;
    padding: 1.1em 0.5em 0;
    height: 1.9em;
    cursor: pointer;
}

.header__main-nav__ul__right-items__li:hover,
.header__main-nav__ul__right-items__li:focus {
    background-color: var(--color-0);
}

.header__main-nav__ul__right-items__li:hover .header__main-nav__ul__right-items__li__drop-down-button,
.header__main-nav__ul__right-items__li:focus .header__main-nav__ul__right-items__li__drop-down-button,
.header__main-nav__ul__right-items__li:hover .header__main-nav__ul__right-items__li__link,
.header__main-nav__ul__right-items__li:focus .header__main-nav__ul__right-items__li__link {
    color: var(--color-1);
}

.header__main-nav__ul__right-items__li__drop-down-button-content__link--saved-key-item:hover,
.header__main-nav__ul__right-items__li__drop-down-button-content__link--saved-key-item:focus,
.header__main-nav__ul__right-items__li__drop-down-button-content__link--not-saved-key-item:hover,
.header__main-nav__ul__right-items__li__drop-down-button-content__link--not-saved-key-item:focus,
.header__main-nav__ul__right-items__li__drop-down-button-content__link:hover,
.header__main-nav__ul__right-items__li__drop-down-button-content__link:focus {
    border-width: 2px;
    border-style: solid;
}

.header__main-nav__ul__right-items__li--contains-dropdown {
    position: relative;
    display: inline-block;
}

.header__main-nav__ul__right-items__li--contains-dropdown:hover .header__main-nav__ul__right-items__li__drop-down-button-content {
    display: block;
}

.header__main-nav__ul__right-items__li--active {
    background-color: var(--color-3);
}

.header__main-nav__ul__right-items__li--username {
    border-color: var(--color-3);
    border-width: 0 0 0 1px;
    border-style: solid;
}

.header__main-nav__ul__right-items__li__link {
    text-decoration: none;
    color: var(--color-3);
}

.header__main-nav__ul__right-items__li__link--active {
    color: var(--color-2);
}

.header__main-nav__ul__right-items__li__drop-down-button {
    background-color: transparent;
    outline: 0;
    border: 0;
    color: var(--color-3);
    font-size: 16px;
}

.header__main-nav__ul__right-items__li__drop-down-button--active {
    color: var(--color-2);
}

.header__main-nav__ul__right-items__li__drop-down-button-content {
    display: none;
    position: absolute;
    background-color: var(--color-0);
    min-width: 300px;
    max-height: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 48px;
    left: 0;
}

.header__main-nav__ul__right-items__li__drop-down-button-content--username {
    right: 0%;
    left: auto;
    min-width: 200px;
}

.header__main-nav__ul__right-items__li__drop-down-button-content__link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
}

.header__main-nav__ul__right-items__li__drop-down-button-content__link__icon {
    float: right;
}

.header__main-nav__ul__right-items__li__drop-down-button-content__link--saved-key-item {
    background: white;
    color: var(--color-1);
}

.header__main-nav__ul__right-items__li__drop-down-button-content__link--not-saved-key-item {
    background: grey;
    color: var(--color-0);
}

.footer {
    background-image: linear-gradient(to right, #806c36, #706C61);
    margin-bottom: 0;
    margin-top: 3em;
    z-index: 1000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer__text {
    text-align: center;
    margin: 0;
    position: relative;
    color: var(--color-3);
}



@media only screen and (max-width: 600px) {
    .header__main-nav__ul__li__burger-icon {
        display: block;
        float: right;
        color: var(--color-3);
        padding-top: 10px;
        padding-right: 13px;
    }

    .header__main-nav__ul__li__burger-icon:hover+.header__main-nav__ul__right-items {
        display: block;
    }

    .header__main-nav__ul__right-items {
        display: none;
    }

    .header__main-nav__ul__right-items__li {
        display: block;
        background: var(--color-2);
    }

    .header__main-nav__ul__right-items__li--active {
        display: block;
        background: var(--color-3);
    }

    .header__main-nav__ul__right-items__li__drop-down-button-content {
        left: -159px;
        min-width: 250px;
    }

    .header__main-nav__ul__right-items__li__drop-down-button-content--username {
        left: -160px;
    }

    .header__main-nav__ul--right {
        display: block;
    }
}